REDIS_URL=redis://localhost:6379/1
CACHE_REDIS_URL=redis://localhost:6379/2

APP_HOST=http://localhost:3000
DEVELOPMENT_OTP_CODE=424242
MAILER_FROM="Pulse <hello@pulse.local>"
MAILER_REPLY_TO="Pulse <hello@pulse.local>"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=

META_CLIENT_ID=
META_CLIENT_SECRET=
META_CONFIG_ID=
META_API_VERSION=v24.0

TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=

YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
